<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.authority.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="com.cas.authority.model.Record">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="eid" jdbcType="VARCHAR" property="eid" />
    <result column="debt" jdbcType="REAL" property="debt" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="rcode" jdbcType="VARCHAR" property="rcode" />
  </resultMap>
</mapper>