<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cas.authority.dao.RegistMapper">
	<resultMap id="BaseResultMap" type="com.cas.authority.model.Regist">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="code" jdbcType="VARCHAR" property="code" />
		<result column="node" jdbcType="INTEGER" property="node" />
		<result column="ser_hdd" jdbcType="VARCHAR" property="ser_hdd" />
		<result column="ser_cpu" jdbcType="VARCHAR" property="ser_cpu" />
		<result column="date_start" jdbcType="TIMESTAMP" property="date_start" />
		<result column="date_end" jdbcType="TIMESTAMP" property="date_end" />
		<result column="used" jdbcType="TINYINT" property="used" />
	</resultMap>

	<insert id="insertRetPK" useGeneratedKeys="true"  parameterType="com.cas.authority.model.Regist" keyProperty="id">
		<selectKey resultType="int" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO `regist` 
			(`code`, `node`, `ser_hdd`, `ser_cpu`, `date_start`, `date_end`)
		VALUES
			(#{code},#{node},#{ser_hdd},#{ser_cpu},#{date_start},#{date_end})
	</insert>

	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO `regist` 
			(`code`, `node`, `ser_hdd`, `ser_cpu`, `date_start`, `date_end`)
		VALUES
		<foreach collection="list" item="item" index="index" separator=",">
			(#{item.code},#{item.node},#{item.ser_hdd},#{item.ser_cpu},#{item.date_start},#{item.date_end})
		</foreach>
	</insert>
</mapper>