<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
	<script type="text/javascript" src="/js/jquery-3.2.1.js" ></script>
	<script type="text/javascript" src="/js/jquery.pagination.js" ></script>
	<script type="text/javascript" src="/js/jquery.form.js" ></script>
	<script type="text/javascript" src="/js/date.format.js" ></script>
	<script type="text/javascript" src="/js/com.cas.record.js" ></script>
	<link rel="stylesheet" type="text/css" href="/css/pagination.css"  />
</head>
<body>
	<div id="listData" ></div>
    <div id="Pagination" class="pagination" ></div>
	<form id="record_form">
		产品编号：<input name="pid" type="text" /><br />
		交易类型：<input name="type" type="text" /><br />
		订单金额：<input name="price" type="text" /><br />
		销售人员：<input name="sid" type="text" /><br />
		客户编号：<input name="cid" type="text" /><br />
		供货时间：<input name="date_supply" type="date" /><br />
		<input type="button" value="submit" onclick="submitForm()" />
	</form>
</body>
</html>