<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
	<script type="text/javascript" src="/js/jquery-3.2.1.js" ></script>
	<script type="text/javascript" src="/js/jquery.pagination.js" ></script>
	<script type="text/javascript" src="/js/jquery.form.js" ></script>
	<script type="text/javascript" src="/js/date.format.js" ></script>
	<script type="text/javascript" src="/js/com.cas.regist.js" ></script>
	<link rel="stylesheet" type="text/css" href="/css/pagination.css"  />
</head>
<body>
	<div id="listData" ></div>
	<div id="Pagination" class="pagination" ></div>
	<form id="regist_form">
		<table>
			<thead><tr><td>添加注册码</td></tr></thead>
			<tbody>
				<tr><td>节点数：</td><td><input name="node" type="text" /></td></tr>
				<tr><td>生效日期：</td><td><input name="date_start" type="date" /></td></tr>
				<tr><td>有效期：</td><td><input name="validity" type="text" />(单位：月)</td></tr>
				<tr><td>注册码数量：</td><td><input name="amount" type="text" /></td></tr>
				<tr><td><input name="record_id" type="hidden" th:value="${record_id}" /></td></tr>
				<tr><td><input type="button" value="submit" onclick="submitForm()" /></td></tr>
			</tbody>
		</table>
	</form>
	
	<input id="recordId" type="hidden" th:value="${record_id}"/>
</body>
</html>