<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Insert title here</title>
	<script type="text/javascript" src="/js/jquery-3.2.1.js" ></script>
	<script type="text/javascript" src="/js/jquery.pagination.js" ></script>
	<script type="text/javascript" src="/js/jquery.form.js" ></script>
	<script type="text/javascript" src="/js/com.cas.regist.js" ></script>
	<link rel="stylesheet" type="text/css" href="/css/pagination.css"  />
</head>
<body>
	<div id="listData" ></div>
	<div id="Pagination" class="pagination" ></div>
	
	<p>添加注册码</p>
	<form id="regist_form">
		code:<input name="code" type="text" /><br />
		node<input name="node" type="text" /><br />
		date_start<input name="date_start" type="text" /><br />
		date_end<input name="date_end" type="text" /><br />
		<input name="record_id" type="hidden" th:value="${record_id}" />
		<input type="button" value="submit" onclick="submitForm()" />
	</form>
	
	<input id="recordId" type="hidden" th:value="${record_id}"/>
</body>
</html>