<script type="text/javascript" src="/js/jquery-3.2.1.js" ></script>
<script type="text/javascript" src="/js/jquery.pagination.js" ></script>
<script type="text/javascript" src="/js/jquery.form.js" ></script>
<script type="text/javascript" src="/layui/layui.js" ></script>
<script type="text/javascript" src="/js/date.format.js" ></script>
<script type="text/javascript" src="/js/com.cas.user.js" ></script>

	<link rel="icon" href="/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="/layui/css/layui.css" />
<link rel="stylesheet" type="text/css" href="/css/pagination.css"  />
<script type="text/javascript">
layui.use('layer', function(){ //独立版的layer无需执行这一句
	var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
	layui.use('form', function(){
		var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
	  //……
	  //但是，如果你的HTML是动态生成的，自动渲染就会失效
	  //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
	  form.render();
	});
});
</script>
<div class="layui-container" style="margin:60px 20px">
	<form id="regist_form" class="layui-form" lay-verify="value" >
	  <div class="layui-form-item">
	    <label class="layui-form-label">用户名称</label>
	    <div class="layui-input-block">
	      <input type="text" name="name" required="required"  lay-verify="required" placeholder="请输入用户名称" autocomplete="off" class="layui-input" />
	    </div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">QQ</label>
	    <div class="layui-input-block">
	      <input name="qq" type="text" placeholder="请输入用户的QQ号码" autocomplete="off" class="layui-input" />
	    </div>
	  </div>

	  <div class="layui-form-item">
		<label class="layui-form-label">微信</label>
		<div class="layui-input-inline">
			<input name="weixin" type="text"  placeholder="请输入用户的地址" autocomplete="off" class="layui-input" />
		</div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">手机</label>
	    <div class="layui-input-block">
	      <input name="mobile" type="text" lay-verify="phone" placeholder="请输入用户的手机号码" autocomplete="off" class="layui-input" />
	    </div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">邮箱</label>
	    <div class="layui-input-block">
	      <input name="email" type="text" lay-verify="email" placeholder="请输入用户的邮箱" autocomplete="off" class="layui-input" />
	    </div>
	  </div>

	  <div class="layui-form-item">
	    <label class="layui-form-label">地址</label>
	    <div class="layui-input-block">
	      <input type="text" name="address"  placeholder="请输入用户的地址" autocomplete="off" class="layui-input" />
	    </div>
	  </div>

      <div class="layui-form-item" style="display: none;">
	    <div class="layui-input-block">
	      <button id="btn_submit" class="layui-btn lay-submit" lay-submit="" lay-filter="regist_form_filter" >立即提交</button>
	      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
	    </div>
	  </div>
	</form>
</div>